.o_list_renderer .o_list_table thead th[data-name="create_date"] {
  max-width: 146px !important;
  width: 146px !important;
}

@font-face {
  font-family: "Exo-2";
  src: url("diet/static/src/font/Exo2-Italic-VariableFont_wght.ttf") format("truetype");
}

